body
  margin 0
  letter-spacing .06em
ul
  margin 0
  padding 0
  list-style none
a
  text-decoration none
  color white
h1, h2, h3
  font-weight 400
.clear
  clear both
.clearfix:before, .clearfix:after
  display table
  content " "
.clearfix:after
  clear both
.hide-for-small
  display none !important
@media only screen and (min-width: 750px)
  .hide-for-small
    display inherit !important
@media only screen and (min-width: 750px)
  .page-section
    padding: 3rem 0
@media (min-width: 750px)
  .hide
    visibility hidden
@media (max-width: 750px)
  .menu-show
    height 250px !important
    top 60px
    margin 0
    padding 0
    overflow hidden
